# Erlaubt den Zugriff auf das physische G13-Gerät für Mitglieder der 'input'-Gruppe
SUBSYSTEM=="usb", ATTR{idVendor}=="046d", ATTR{idProduct}=="c21c", MODE="0660", GROUP="input"

# Erlaubt das Erstellen von virtuellen Eingabegeräten für Mitglieder der 'input'-Gruppe
KERNEL=="uinput", SUBSYSTEM=="misc", MODE="0660", GROUP="input"
